{% extends 'base.html.twig' %}

{% block title %}Spelets Dokumentation{% endblock %}

{% block body %}
    <h1>Spelets Dokumentation</h1>
    <h2>Flödesschema</h2>
    <img src="{{ asset('images/flowchart.png') }}" alt="Flödesschema">
    
    <h2>Pseudokod</h2>
    <pre>
        STARTA SPELET
            Dela ut kort till spelaren tills spelaren stannar

        Players tur:
            Visa spelarens kort och poäng
            While spelaren inte stannar:
                If spelarens val == "Dra":
                    Dra kort från deckOfCards, lägg till i CardHand, uppdatera poäng
                    Visa uppdaterade kort och poäng
                    If poäng > 21: Spelaren förlorar, sluta spelet
                Else If spelarens val == "stanna": Gå vidare till bankens tur

        Bankens tur:
            If spelarens poäng <= 21:
                Banken drar kort tills poäng >= 17
                Visa bankens kort och poäng
                If bankens poäng > 21: Spelaren vinner

        Bestäm resultat:
            If spelarens poäng > bankens poäng: Spelaren vinner
            Else If bankens poäng > spelarens poäng: Banken vinner
            Else: Oavgjort == banken vinner

        Återställ spelet:
            Återställ kort och poäng, börja om
    </pre>
    
    <h2>Klasser</h2>
    <ul>
        <li><strong>Card</strong>: Ett kort, och dess värde.</li>
        <li><strong>CardGraphic</strong>: Ärver från Card, snyggar till utseendet av kortet. Med färg och symboler.</li>
        <li><strong>CardHand</strong>: Spelarens/bankens hand med kort. Klassen håller koll på de korten som dras.</li>
        <li><strong>DeckOfCards</strong>: Hela kortleken. Klass som skapar kortleken, blandar den och delas ut</li>
        <li><strong>GameTwentyOne</strong>: Hanterar spelreglerna och spelstatus för mitt spel Blackjack/21.</li>
    </ul>
    
{% endblock %}
