{% extends 'base.html.twig' %}

{% block title %}Blackjack{% endblock %}

{% block body %}
    <div class="game-welcome-container">
        <h1 class="game-title">Välkommen till Blackjack</h1>

        <p class="game-description">
            Detta är min version av kortspelet Blackjack (21). Målet är att få kort i handen med en totalsumma så nära 21 som möjligt utan att gå över. Du spelar mot banken som drar sina kort efter att du har stannat. Den med högst summa, utan att överstiga 21, vinner.
        </p>

        <a href="{{ path('game_doc') }}">Dokumentations sidan</a>

        <section class="game-rules">
            <h2>Spelregler</h2>
            <ul>
                <li>Spelaren börjar utan kort och drar ett i taget genom att klicka på "Dra kort".</li>
                <li>Spelaren kan välja att "Stanna" när den är nöjd med sin poängsumma.</li>
                <li>Målet är att nå en total summa på 21 eller att vara så nära som möjligt utan att överstiga.</li>
                <li>Ett ess/A är värt 1 eller 11.</li>
                <li>Ifall spelarens summa överstiger 21, förlorar den direkt.</li>
                <li>När spelaren stannar, drar banken kort tills den är nöjd med summan 21 som mål.</li>
                <li>Om banken överstiger 21 vinner spelaren.</li>
                <li>Vid oavgjort vinner banken.</li>
            </ul>
        </section>

        <a href="{{ path('game_start') }}" class="btn btn-start">Starta spelet</a>

        {{ include('flash.html.twig') }}
    </div>
{% endblock %}
