{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Om mig</h1>
    <p>Jag heter Joel Berhane, 24 år och studerar kurspaketet "Webbprogrammering och databaser" på distans hos BTH. Mitt mål är att bli så bra som möjligt på att koda. Detta är min me-sida i kursen Objektorienterade webbteknologier.</p>
    <a href="{{ asset('build/images/IMG_8789.WEBP') }}" target="_blank">
        <img src="{{ asset('build/images/IMG_8789.WEBP') }}" alt="Joel Berhane" class="profile-image">
    </a>    
{% endblock %}
