{# templates/report/report.html.twig #}

{% extends "base.html.twig" %}

{% block title %}Redovisningstexter{% endblock %}

{% block body %}
    <h1>Kursens Redovisningstexter</h1>
    <p>Här samlas mina redovisningar för kursens olika moment.</p>

    <ul>
        <li><a href="#kmom01">Kmom01</a></li>
        <li><a href="#kmom02">Kmom02</a></li>
        <li><a href="#kmom03">Kmom03</a></li>
        <li><a href="#kmom04">Kmom04</a></li>
        <li><a href="#kmom05">Kmom05</a></li>
        <li><a href="#kmom06">Kmom06</a></li>
        <li><a href="#kmom7-10">Kmom 7/10</a></li>
    </ul>

    <div id="kmom01">
        <h2>Kmom01</h2>
        <p>Redovisningstext för kmom01.</p>
    </div>

    <div id="kmom02">
        <h2>Kmom02</h2>
        <p>Redovisningstext för kmom02.</p>
    </div>

    <div id="kmom03">
        <h2>Kmom03</h2>
        <p>Redovisningstext för kmom03.</p>
    </div>

    <div id="kmom04">
        <h2>Kmom04</h2>
        <p>Redovisningstext för kmom04.</p>
    </div>

    <div id="kmom05">
        <h2>Kmom05</h2>
        <p>Redovisningstext för kmom05.</p>
    </div>

    <div id="kmom06">
        <h2>Kmom06</h2>
        <p>Redovisningstext för kmom06.</p>
    </div>

    <div id="kmom7-10">
        <h2>Kmom 7/10</h2>
        <p>Redovisningstext för kmom7/10.</p>
    </div>

{% endblock %}
