{# templates/report/report.html.twig #}

{% extends "base.html.twig" %}

{% block title %}Redovisningstexter{% endblock %}

{% block body %}
    <h1>Kursens Redovisningstexter</h1>
    <p>Här samlas mina redovisningar för kursens olika moment.</p>

    <ul>
        <li><a href="#kmom01">Kmom01</a></li>
        <li><a href="#kmom02">Kmom02</a></li>
        <li><a href="#kmom03">Kmom03</a></li>
        <li><a href="#kmom04">Kmom04</a></li>
        <li><a href="#kmom05">Kmom05</a></li>
        <li><a href="#kmom06">Kmom06</a></li>
        <li><a href="#kmom7-10">Kmom 7/10</a></li>
    </ul>

    <div id="kmom01">
        <h2>Kmom01</h2>
        <p>Jag har inga större förkunskaper kring objektorientering. Jag har läst lite om det och kollat lite videos för att få förståelse kring ämnet samt grunderna.

            Det man först och främst behöver är att bli vän med manualen för att underlätta och kunna lösa problem oavsett vilket språk man kodar med vill jag påstå. Man måste veta att en klass innehåller egenskaper och definieras med ”class”. För att göra objekt av en klass använder man ”new”. Ett objekt är en insats av en klass, alltså en version av klassens egenskaper.
            
            Jag behövde en liten stund för att komma in i strukturen och allt med koden till den här uppgiften. Det är ett nytt ramverk som jag inte har jobbat med tidigare och behövde bekanta mig med. Men efter att ha jobbat igenom det känns det bra, jag valde att använda SASS som vi använde i design kursen för att styla sidan. Twig filer och allt har jag lite minne av från tidigare kurser. 
            
            I denna text kan man läsa om fördelen med att följa aktuella kodningsstandarder och använda den senaste PHP-versionen för säkerhet och bästa möjliga prestanda. Man nämner också vikten av testbar kod med hjälp av TDD och användning av Composer som vi använde i uppgiften för att hantera projektet effektivt.
            
            Min TIL i detta kmom får bli Symphony samt objektorientering som är nytt för mig, hela strukturen samt allt som kom med det var nya lärdomar. Sen finns det lite likheter med tidigare kunskaper man har fått från kurserna.</p>
    </div>

    <div id="kmom02">
        <h2>Kmom02</h2>
        <p>Redovisningstext för kmom02.</p>
    </div>

    <div id="kmom03">
        <h2>Kmom03</h2>
        <p>Redovisningstext för kmom03.</p>
    </div>

    <div id="kmom04">
        <h2>Kmom04</h2>
        <p>Redovisningstext för kmom04.</p>
    </div>

    <div id="kmom05">
        <h2>Kmom05</h2>
        <p>Redovisningstext för kmom05.</p>
    </div>

    <div id="kmom06">
        <h2>Kmom06</h2>
        <p>Redovisningstext för kmom06.</p>
    </div>

    <div id="kmom7-10">
        <h2>Kmom 7/10</h2>
        <p>Redovisningstext för kmom7/10.</p>
    </div>

{% endblock %}
